.main{
    background-color: #87AC38; 
    text-align: center;
    
    
}

.main2{
   background-color:rgb(173, 201, 113);
}

.item{
   padding-top: 10px;
   background-color:transparent;
}

ion-input{
   font-size: 10px;
   color:black;
}

h2{

 font-weight:bold;
 color: black;



}

.alertcss{

    button{
        color: rgb(173, 201, 113)!important;
    }

    .alert-wrapper{
    //    background:rgb(207, 195, 17);
   }
.alert-wrapper{
   color :black;
}
   
  .cover{
     background-color: rgba(249, 249, 249, 0.803);
     
  } 




}