.main{
    background-color: #87AC38; 
    padding: 16px;
}

.main2{
   background-color:rgb(173, 201, 113);
}

.item{
   padding-top: 30px;
   background-color:transparent;
}

ion-input{
   font-size: 16px;
   color:black;
}